.contact-section {
    margin-top: 100px;
}

.contact-title {
    text-align: center!important;
    margin-bottom: 80px;
    min-height: 200px;
}

.form {
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    height: 355px;
}

.contact {
    background: #fff;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    padding: 20px;
    height: 450px;
}

.single-address > i {
    position: absolute;
    left: 3%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.fa {
    display: inline-block;
}

.title {
    margin-left: 60px;
}

.footer {
    margin-top: 100px;
    text-align: center;
    background-color: #343a40!important;
    padding: 10px;
    color: white;
}