* {
    margin: 0;
    padding: 0;
}

.home-background {
    position: relative;
    width: 100%;
    min-height: 580px;
    background-image: url("../images/background-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-section {
    position: relative;
    width: 100%;
    min-height: 580px;
    background-color: rgba(52, 58, 64, 0.9);
}

.container {
    padding-top: 120px;
    width: 100%;
}

.home-title {
    position: relative;
    text-align: center;
    min-height: 200px;
    color: white;
    width: 100%;
    border: 1px solid #ffffff;
}

.home-title > h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color {
    color: gold;
}

.home-sub-title-left {
    color: #ffffff;
    float: left;
    margin-left: 80px;
}

.home-sub-title-right {
    color: #ffffff;
    float: right;
    margin-right: 80px;
}