.App {
  text-align: center;
}

.navbar {
  background-color: #171717!important;
  border-bottom: 1px solid gold;
}

a {
  padding: 5px 10px;
  text-decoration: none
}

.nav-spa > a:hover{
  color: black;
  background-color: #61dafb;
  color: white;
  text-decoration: none;
}

.nav-spa {
  color: white;
  text-decoration: none;
}

.nav-spa:hover {
  color: gold;
  text-decoration: none;
  border-bottom: 2px solid gold;
}

.navbar-dark .navbar-brand {
  color: #343a40;
}

.navbar-brand {
  color: gold!important;
}

.navbar > a:hover {
  color: #343a40!important;
}

.navbar-light .navbar-toggler-icon {
  background-color: gold!important;
  border-radius: 4px;
}